<% layout('layouts/boilerplate')-%>
  <!-- <h4>All Listings</h4> -->
  <!-- <form action="/listings/new" method="get">
        <button>New Listing</button>
    </form> -->
    <style>
      #filters{
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        /* justify-content: center; */
        padding: 1rem 0;
        border-bottom: 1px solid #ddd;
        margin-bottom:1.5rem;
      }
      .filter{
        text-align: center;
        /* margin-top: 1rem; */
        opacity: 0.8;
        max-width: 80px;
        transition: all 0.3s ease;
        text-decoration: none;
      }
      .filter:hover{
        opacity: 1;
        cursor: pointer;
        transform: translateY(-2px);
      }
      .filter-icon{
        font-size: 1.5rem;
  margin-bottom: 0.4rem;
  color: #FF385C;
      }
      .filter-text{
        font-weight: 600;
        font-size: 0.85rem;
        color: #333;
      }
      .active-filter {
    border-bottom: 2px solid #FF385C;
  opacity: 1 !important;
}
    </style>
  <div id="filters">
    <a href="/listings?category=trending" class="filter <%= category==='trending'?'active-filter': ''%>">
      <div class="filter-icon"><i class="fa-solid fa-fire-flame-curved"></i></div>
      <p class="filter-text">Trending</p>
    </a>
    <a href="/listings?category=beach" class="filter <%= category==='beach'?'active-filter': ''%>">
      <div class="filter-icon"><i class="fa-solid fa-umbrella-beach"></i></div>
      <p class="filter-text">Beach</p>
    </a>
    <a href="/listings?category=cities" class="filter <%= category==='cities'?'active-filter': ''%>">
      <div class="filter-icon"><i class="fa-solid fa-city"></i></div>
      <p class="filter-text">Cities</p>
    </a>
    <a href="/listings?category=amazing views" class="filter <%= category==='amzazing views'?'active-filter': ''%>">
      <div class="filter-icon"><i class="fa-solid fa-eye"></i></div>
      <p class="filter-text">Amazing views</p>
    </a>
    <a href="/listings?category=mountains" class="filter <%= category==='mountains'?'active-filter': ''%>">
      <div class="filter-icon"><i class="fa-solid fa-mountain"></i></div>
      <p class="filter-text">Mountains</p>
    </a>
    <a href="/listings?category=nature" class="filter <%= category==='nature'?'active-filter': ''%>">
      <div class="filter-icon"><i class="fa-solid fa-tree"></i></div>
      <p class="filter-text">Nature</p>
    </a>
    <a href="/listings?category=homestays" class="filter <%= category==='homestays'?'active-filter': ''%>">
      <div class="filter-icon"><i class="fa-solid fa-house-chimney"></i></div>
      <p class="filter-text">Homestays</p>
    </a>
     <a href="/listings?category=cabins" class="filter <%= category==='cabins'?'active-filter': ''%>">
    <div class="filter-icon"><i class="fa-solid fa-house"></i></div>
    <p class="filter-text">Cabins</p>
  </a>
  <a href="/listings?category=desert" class="filter <%= category==='desert'?'active-filter': ''%>">
    <div class="filter-icon"><i class="fa-solid fa-sun"></i></div>
    <p class="filter-text">Desert</p>
  </a>
  <a href="/listings?category=camping" class="filter <%= category==='camping'?'active-filter': ''%>">
    <div class="filter-icon"><i class="fa-solid fa-campground"></i></div>
    <p class="filter-text">Camping</p>
  </a>
  <a href="/listings?category=luxe" class="filter <%= category==='luxe'?'active-filter': ''%>">
    <div class="filter-icon"><i class="fa-solid fa-gem"></i></div>
    <p class="filter-text">Luxe</p>
  </a>
  <a href="/listings?category=historical" class="filter <%= category==='historical'?'active-filter': ''%>">
    <div class="filter-icon"><i class="fa-solid fa-landmark"></i></div>
    <p class="filter-text">Historical</p>
  </a>
  <a href="/listings?category=pools" class="filter <%= category==='pools'?'active-filter': ''%>">
    <div class="filter-icon"><i class="fa-solid fa-person-swimming"></i></div>
    <p class="filter-text">Pools</p>
  </a>
  <a href="/listings?category=castles" class="filter <%= category==='castles'?'active-filter': ''%>">
    <div class="filter-icon"><i class="fa-solid fa-chess-rook"></i></div>
    <p class="filter-text">Castles</p>
  </a>
  </div>
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
    <% for( let listing of allListing ) { %>
    <a href="/listings/<%= listing._id %>"
      class="card-links">
        <div class="card col listing-card">
        <img
          src="<%= listing.image.url %>"
          class="card-img-top"
          alt="hotel-image"
          style="height: 20rem"
        />
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text">
            <b> <%= listing.title %></b> <br />
            &#8377; <%=listing.price.toLocaleString('en-IN') %> /night
          </p>
        </div>
      </div>
      </a>
    <% } %>
  </div>

